{% block header %}
<header>
    <img class="h_img img-fluid" style="height: 20vh;" src="{{ asset('img/nav_img.png') }}">
    <p class="h_right">Welkom H Puf<br> - klant - <br>
        <button class="btn btn-txt"> uitloggen</button>
    </p>
    <p class="header"> Training Centrum</p>
    <p class="header">Den Haag</p>
    <div class="line" style="    border-bottom:2px solid #b30000;">
    </div>
</header>

{% endblock %}