{% extends 'instructeur/instructeur.html.twig' %}
{% block body %}
    <div class="col-5"></div>
    <div class="col-3 m_auto">
        <p class="p_text">Les overzicht</p></div>
    <div class="col-12 m_auto">
        <table class="table">
            <thead>
            <th>Naam</th>
            <th>Betaald</th>
            </thead>
            {% for member in members %}
                <tr>
                    <td>{{ member.voorvoegsel }} {{ member.voornaam }} {{ member.achternaam }}</td>
                    <td>{{ member.payment }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
