{% extends 'leden/leden.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <p class="text_bold">Inschrijven op les</p>
        </div>
        <div class="col-12">
            <button class="btn-sm">Vandaag</button>
            <button class="btn-sm">28-11</button>
            <button class="btn-sm">29-11</button>
            <button class="btn-sm">30-11</button>
            <button class="btn-sm">1-12</button>
            <button class="btn-sm">2-12</button>
            <button class="btn-sm">3-12</button>
            <button class="btn-sm">4-12</button>
            <button class="btn-sm">5-12</button>

        </div>
    </div>
{% endblock %}