.header {
    color: #b30000;
    font-size: 50px;
    font-weight: bold;
    margin-left: 20%;
}

.h_right {
    color: #b30000;
    float: right;
}

.h_img {
    float: left;
}

.btn-txt {
    color: #b30000;
}

.line {
    margin-left: 4%;
    margin-right: 4%;
}

nav a {
    margin-left: 3%;
    color: #b30000;
}

nav a.active {
    font-weight: bold;
}

#container {
    border: 1px solid black;
}

.p_text {
    color: #b30000;
    font-weight: bold;
}

nav ul li {
    margin-left: 15%;
}

.f_collor {
    margin-top: 3%;
    background-color: #004d4d;
}

.f_text {
    font-weight: bold;
    font-size: 25px;
    color: #b30000;
}

.text {
    color: #b30000;
}

.text_bold {
    color: #b30000;
    font-weight: bold;
}

.t_aanbod {
    color: #b30000;
    font-weight: bold;
    font-size: 25px;
}

.ta_desc {
    color: #b30000;
}

#t_o {
    color: #b30000;
    font-weight: bold;
}

.m_auto {
    margin: auto;
}
