{% extends 'admin/admin.html.twig' %}
{% block title %} Training Centrum Den Haag {% endblock %}
{% block body %}
    <div class="col-2"></div>
    <div class="col-8 ">
        <p class="p_text">Administrator homepagina</p>
        <p>Kies uw actie in de Navigatie balk</p>

    </div>
    </div>
    </div>
{% endblock %}