{% extends 'admin/admin.html.twig' %}
{% block title %} Training Centrum Den Haag {% endblock %}
{% block body %}
    <div class="col-5"></div>
    <div class="col-3 m_auto">
        <p class="p_text">Instructeur verwijderd</p>
        <a href="{{ path('instructeur_overzicht') }}">Ga terug naar instructeur overzicht</a>

    </div>
    </div>
    </div>
{% endblock %}
