{% extends 'admin/admin.html.twig' %}
{% block body %}
    <div class="col-5"></div>
    <div class="col-3 m_auto">
        <p class="p_text">Les overzicht</p></div>
    <div class="col-12 m_auto">
        <table class="table">
            <thead>
            <th>Les id</th>
            <th>Les naam</th>
            <th>Les locatie</th>
            </thead>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.id }}</td>
                    <td>{{ lesson.lesnaam }}</td>
                    <td>{{ lesson.location }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
