{% extends 'admin/admin.html.twig' %}
{% block title %} Training Centrum Den Haag {% endblock %}
{% block body %}
    <div class="col-5"></div>
    <div class="col-3 m_auto">
        <p class="p_text">Administrator Trainingen</p>
        <div class="col-12 m_auto" style="height: 9vh;">
            <a href="/admin/training_overzicht" id="t_o"><br>Trainingen overzicht</a>
        </div>
        <div class="col-12 m_auto" style="height: 9vh;">
            <a href="/admin/add_training" id="t_o"><br>Trainingen toevoegen</a>
        </div>


    </div>
    </div>
    </div>
{% endblock %}