{% extends 'base.html.twig' %}
{% block title  %} Training Centrum Den Haag {% endblock %}
{% block body %}
    <nav>
        <a class="active" href="">Home</a>
        <a href="">Inschrijven op les</a>
        <a href="">Overzicht inschrijvingen</a>
        <a href="">Gegevens lid wijzigen</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{ asset('img/image.png') }}">
            </div>
            <div class="col-sm-4">
                2
            </div>
            <div class="col-sm-4">
                3
            </div>
        </div>
    </div>
{% endblock %}