<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Training Centrum Den Haag{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <header>
            <h2> Training Centrum</h2>
        </header>{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
