{% extends 'bezoekers/bezoekers.html.twig' %}
{% block title %} Training Centrum Den Haag {% endblock %}
{% block body %}
    <div class="col-2"></div>
    <div class="col-8 ">
        <p class="p_text">Welkom bij Trainings Centrum Den Haag</p>
        <p>Hier leest u de gedrags regels: <br> gedrags regels</p>
    </div>
    </div>
    </div>
{% endblock %}