{% extends 'bezoekers/bezoekers.html.twig' %}
{% block title %} Training Centrum Den Haag {% endblock %}
{% block body %}
    <div class="col-2"></div>
    <div class="col-8 ">
        <p class="p_text">Welkom bij Trainings Centrum Den Haag</p>
        <p>Den Haag Training Center is een sportschool waar onder professionele gefeleiding in een veilige
            omgeving verschillende soorten martial arts-, indoor bootcapm, personal- en small group trainingen
            worden aangeboden. Hier kan je je inschrijven op een les of uitschrijven op een les.</p>
    </div>
    </div>
    </div>
{% endblock %}