{% extends 'bezoekers/bezoekers.html.twig' %}
{% block title %} Training Centrum Den Haag {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <p class="p_text text-center">Contact</p>
        </div>
        <div class="col-12">
            <p class="ta_desc"><b>Email:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Training_Factor@training_factory.nl</p>
            <p class="ta_desc"><b>Telefoonnummer: </b> &nbsp;&nbsp;&nbsp;010 519 0532</p>
        </div>
    </div>
{% endblock %}