{% extends 'bezoekers/bezoekers.html.twig' %}
{% block title %} Training Centrum Den Haag {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 ">
            <p class="t_aanbod text-center">Trainings aanbod</p>
        </div>
        <div class="col-2"></div>
        <table class="table">
            <thead>
            <th>Naam</th>
            <th>Beschrijving</th>
            <th>Duur</th>
            <th>Kosten</th>
            </thead>
            {% for training in trainingen %}
                <tr>
                    <td> {{ training.naam }}</td>
                    <td> {{ training.beschrijving }}</td>
                    <td> {{ training.duur | date('H:i') }}</td>
                    <td> {{ training.kosten }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
{% endblock %}